*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container { 
    display: flex;
    background-color: white;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse;  */
    /* flex-wrap: nowrap; */
}

.box { 
    height: 100px;
    min-width: 200px;
  /*  flex-basis: 200px; /* means it's going to start at 200px, kind of like a min-width */
    /* flex-grow: 1; */
    /* width: 320px; */
    flex: 1 0 200px; /* flex-grow, flex-shrink, flex-basis shorthand */
}

.one {
    background-color: red;
    /* flex-basis: 100px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

.two {
    background-color: blue;
    /* flex-basis: 200px; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}

.three { 
    background-color: green; 
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
    /* flex-basis: 300px; */
}

/* Nav Menu html file */